<header>
    <div class="container-grid posicionamento-header">
        <a href=""><img src="assets\img\aba.png" alt="logo do site" width="200px"></a>
        <nav id="menu" class="menu">
            <a href="">inicio</a>
            <a routerLink="card">produtos</a>
            <a href="">promoçao</a>
            <a routerLink="contato">contato</a>
        </nav>
        <a href="#" onclick="mostrarmenu()" ><img class="barras" src="assets\img\cardapio.png" alt= "Menu de Barras" width="100px" ></a>
    </div>
</header> 
