
    <div class="banner">
        <div class="container-grid posiçao-texto"></div>
        <div class="texto-banner">
            <h1>Game Mania</h1>
<p>A game mania tem por objetivo trazer mais conforto e conpetitividade para o seu momento de lazer</p>
<a routerLink="login">inscreva-se</a>
        </div>
    </div>
    <div id="carrosel" class="container carrosel">
        <img src="assets/img/ab.jpg" alt="promocional controle">
        <img src="assets/img/abc.jpg" alt="promocional outro">
        <img src="assets/img/abcd.jpg" alt="promocional soldado">
        <img src="assets/img/abcde.jpg" alt="promocional teclado">
    </div>
    <!-- <section class="promocional">
<div class="jogos-promoçoes container">
    <a href=""><img src="img/son_goku_ssj_blue_fase_2_le_by_jaredsongohan_dbn8gzp-300w.png" width="150px" ></a>
    <a href=""><img src="img/screenshot-www_7kvr.png" width="650px" ></a>
    <a href=""><img src="img/4f1e6062c2dc708fa8932028a0dcd3b1.png"width="200px" ></a>
</div> 
    </section> -->
    
    <section class="mostruario" id="produtos gamer">
       <div  class="produtos ">
        <h2>Promoçao</h2>
        <img src="assets/img/pc.png" alt="foto do pc gamer em promoçao"width="200px">
        <h3>Produto em Promoçao</h3>
        <p>Valor:2500</p>
        </div>
        <div class="produtos">
        <h2>Promoçao</h2>
        <img src="assets/img/play.png" alt="foto do playstation gamer em promoçao"width="200px">
        <h3>Produto em Promoçao</h3>
        <p>Valor:2500</p>
        </div>
        <div class="produtos">
        <h2>Promoçao</h2>
        <img src="assets/img/xbox.png" alt="foto do xbox gamer em promoçao"width="130px">
        <h3>Produto em Promoçao</h3>
        <p>Valor:2500</p>
        </div> 
    </section>
    
    <script>
    let menu = document.getElementById("menu");
    function mostrarmenu(){
if(menu.style.display != "flex"){
menu.style.display = "flex"
    }else{
        menu.style.display = "none"
    } 
    }
    </script>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>   
