<footer>
    <div class="rodape container">
        <div class="links-footer container">
        <div class="links">
            <h2>links úteis</h2>
            <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">produtos</a></li>
                <li><a href="#">jogos</a></li>
                <li><a href="#">acessorios</a></li>
            </ul>
            </div>
            <div class="links">
                <h2>Páginas</h2>
                <ul>
                    <li><a href="#">Pc gamer </a></li>
                    <li><a href="#">Console</a></li>
                    <li><a href="#">peças gamer</a></li>
                    <li><a href="#">jogos</a></li>
                </ul>
            </div>
            </div>
            <img class="container logo-rodape" src="assets/img/aba.png" alt="logo game" height="100px">
            <div class="social">
            <h2>Faça parte do nosso clan !</h2>
            <form action="C:\Users\LNV\Downloads\projeto-game-mania-main\projeto-game-mania-main\cadastro.html">
            <!-- <input id="campo email" type="email" placeholder="E-mail">
            <button onclick="enviaremail()">cadastrar</button> -->
            </form>
            <div class="siga-nos">
                <h2>siga-nos em :</h2>
                <a href=""><img src="assets/img/twitter-logo-1.png" width="50px" ></a>
                <a href=""><img src="assets/img/inst.png" width="50px" ></a>
                <a href=""><img src="assets/img/what.png" width="50px"></a>
            </div>

         </div>

    </div>
</footer>
