.contato{
    display: flex;

}
.contato a{
    background-color: rgba(197, 195, 195, 0.801);
    margin: 3%;
    margin-left: 7%;
    border-radius: 10px;
justify-content: space-around;
}
.contato b{
    margin-top: 20%;
    border: none;
    background-color: transparent;
    outline: none;
    transition: all 300ms ease;
}