<div class="contato">
    <a routerLink="home"><img src="assets/img/1discord-.png" alt="discord" width="200px"></a>
    <a routerLink="home"><img src="assets/img/facebook-.png" alt="facebook" width="200px"></a>
    <a routerLink="home"><img src="assets/img/insta.png" alt="instagram" width="200px"></a>
    <a routerLink="home"><img src="assets/img/twitter-.png" alt="twitter" width="200px"></a>
</div>

<b><input type="text" name="Nome" size="40" /></b> 
<input id="botao-enviar" type="submit" value="Fazer Login">
